.icon {
  font-size: 20px;
}
.icon-add-pickup {
  color: green;
}

.main-conten {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 50px;
  padding: 10px 0;
}

.form-book {
  border: 1px solid black;
  padding: 30px;
  width: 50%;
  border-radius: 15px;
  background-color: #f5f5f5;
}
.ctrl-input {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  height: 50px;
  position: relative;
  background-color: #fff;
}

.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -9px;
  z-index: 1;
}
.pac-target-input {
  width: 100%;
  height: 100%;
  border: none;
  height: 100%;
  outline: none;
  padding: 0px 10px 0 40px;
}

.pause-btn {
  margin: 0 20px;
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 45px;
  border: none;
  background-color: #fff;
}

.rigth-conten {
  width: 50%;
  background-image: url(/public/backgroud.png); /* Đường dẫn đến hình ảnh */
  background-size: cover; /* Hiển thị hình ảnh sao cho nó vừa với phần tử */
  background-repeat: no-repeat;
}

.banner-img {
  height: 300px;
}
.pac-container {
  width: 100%wd;
}

.btn-switch {
  display: inline-block;
  padding: 8px 15px;
  background-color: #e0d9d9;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-switch input[type='radio'] {
  display: none;
}

.btn-switch input[type='radio']:checked + span {
  color: #fff;
}

.btn-switch.active {
  background-color: rgb(104, 9, 104);
}

.btn-switch span {
  display: flex;
  align-items: center;
}

.icon-btn-switch {
  margin-right: 4px;
}

.head-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.head-form h3 {
  font-size: 30px;
  color: rgb(104, 9, 104);
}

.bk-tab {
  margin-left: 30px;
}
.option-trip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.type-car {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
}

.select-type-car {
  border: none;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0px 10px 0 40px;
  outline: none;
}
.form-control {
  border: none;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0px 10px 0 40px;
}

.icon-violet {
  color: rgb(104, 9, 104);
}
.line-form {
  width: 100%;
  border: 1px dashed rgb(104, 9, 104);
  margin: 10px 0;
}

.margin-vetical {
  margin: 10px 0;
}

.display-flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.total p,
.price {
  font-size: 20px;
  color: rgb(104, 9, 104);
  font-weight: 700;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.add-note {
  width: 100%;
  height: 200px;
}

.btn-book-now {
  width: 100%;
  height: 50px;
  background-color: rebeccapurple;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 25px;
}

.choise-option {
  width: 50%;
}
